<div class="container pt-10 pb-20" *ngIf="!submitted">
    <div class="row justify-content-center ">
        <div class="col-md-12">
            <div *ngIf="isLoading" style="text-align: center;">
                <app-loading-spinner></app-loading-spinner>
            </div>
            <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="error">
                <strong>Error!</strong> {{ error }}
            </div>
            <div *ngIf="!isLoading" class="card">
                <div class="card-header text-center bg-gray-3  py-0" style="font-family:Georgia, 'Times New Roman', Times, serif"> 
                    <h4 class="card-title mt-2">Archi Online </h4>
                </div>
                <article class="card-body py-6">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
                                <div class="form-row">
                                    <div class="col-sm-3">
                                        <label ><strong>Threshold:({{dataForm.get('threshold').value}})</strong> </label>
                                    </div>
                                    <div class="col form-group">
                                        <input type="range" class="custom-range" id="customRange2" min="0" max="1" step="0.01" formControlName="threshold">
                                    </div>
                                </div>
                                <hr>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <div class="icheck-primary"><input type="radio" checked=true name="ProjectSource" value="upload" id="upload" (click)="onRadioChange($event)"><label for="upload">Upload Project</label></div>
                                    </div> <!-- form-group end.// -->
                                    <div class="col form-group">
                                        <div class="icheck-primary"><input type="radio" name="ProjectSource" value="github" id="github" (click)="onRadioChange($event)"><label for="github">From Github</label></div>
                                    </div>                           
                                </div> <!-- form-row end.// -->
                            
                                <div class="form-group" *ngIf="project=='github'">
                                    <label class="form-label">Github Link<span class="text-danger">*</span></label>
                                    <input type="text" name="project" class="form-control"/>
                                </div> <!-- form-group end.// -->
                            
                                <div class="row mt-4 mb-2" *ngIf="project=='upload'">
                                    <div class="col-md-12 col-sm-12 col-xs-12 demo-col">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                            </div>
                                            <div class="custom-file">
                                                <input name="file" type="file" class="custom-file-input" id="file" (change)="onFileSelected($event)">
                                                <label class="custom-file-label" for="file">{{projectName}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group mt-5">
                                    <button type="submit" class="btn btn-primary-dark-w min-width-200"> Submit  </button>
                                    <button type="button" class="btn btn-primary-dark-w float-right min-width-200"> Cancel  </button>
                                </div> <!-- form-group// -->                                              
                            </form>
                        </div>
                    </div>

                </article> <!-- card-body end .// -->
            </div> <!-- card.// -->
        </div> <!-- col.//-->
    </div> <!-- row.//-->   
</div> 

<div class="container py-5" *ngIf="submitted==true">
    <nav class="navbar navbar-expand-lg navbar-light bg-light min-height-45 border-width-2 py-0 border border-bottom-0">
    
            <ul class="navbar-nav mr-auto">
                <li class="nav-item   min-height-45 d-shape border" (click)="viewSection('data')" [ngClass]="{ 'bg-primary': submitted && viewType=='data'}">
                    <a class="nav-link " id="navbarDropdown" role="button">
                      <i class="fas fa-table pr-2"></i><span class="nav-link-local">Results</span>
                    </a>
                </li>
                <li class="nav-item   min-height-45 d-shape border" (click)="viewSection('chart')" [ngClass]="{ 'bg-primary': submitted && viewType=='chart'}">
                    <a class="nav-link "  id="navbarDropdown" role="button">
                        <i class="fas fa-chart-line pr-2"></i><span class="nav-link-local">Data Chart</span>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown  min-height-45 d-shape">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-download pr-2"></i><span class="nav-link-local">Download</span>
                    </a>
                    <div class="dropdown-menu dropdown-border py-0 my-0"  aria-labelledby="navbarDropdown" >
                        <a class="dropdown-item dropdown-border-bottom" (click)="downloadCsv()">Csv</a>
                        <a class="dropdown-item dropdown-border-bottom" (click)="downloadJson()" >Json</a>  
                    </div>
                </li>
            </ul>
        </nav>
        <div id="data" class="row  m-0 p-0 border border-width-2  ">
            <div class="col-sm-2 ">
                <div class="icheck-primary pt-5"><input class="box" type="checkbox" [checked]="targets.indexOf(2)==-1"  (change)="onCheckboxChange(2,$event)"  name="ActiveRedundancy" value="ActiveRedundancy" id="ActiveRedundancy"><label for="ActiveRedundancy">ActiveRedundancy</label></div>
                <div class="icheck-primary pt-1"><input class="box" type="checkbox" [checked]="targets.indexOf(3)==-1" (change)="onCheckboxChange(3,$event)"  name="Audit" value="Audit" id="Audit"><label for="Audit">Audit</label></div>
                <div class="icheck-primary pt-1"><input class="box" type="checkbox" [checked]="targets.indexOf(4)==-1"  (change)="onCheckboxChange(4,$event)"  name="Authenticate" value="Authenticate" id="Authenticate"><label for="Authenticate">Authenticate</label></div>

                <div class="icheck-primary pt-1"><input class="box" type="checkbox" [checked]="targets.indexOf(5)==-1"  (change)="onCheckboxChange(5,$event)"  name="CheckPoint" value="CheckPoint" id="CheckPoint"><label for="CheckPoint">CheckPoint</label></div>
                <div class="icheck-primary pt-1"><input class="box" type="checkbox" [checked]="targets.indexOf(6)==-1"  (change)="onCheckboxChange(6,$event)"  name="HeartBeat" value="HeartBeat" id="HeartBeat"><label for="HeartBeat">HeartBeat</label></div>
                <div class="icheck-primary pt-1"><input class="box" type="checkbox" [checked]="targets.indexOf(7)==-1"  (change)="onCheckboxChange(7,$event)"  name="Kerbrose" value="Kerbrose" id="Kerbrose"><label for="Kerbrose">Kerbrose</label></div>

                <div class="icheck-primary pt-1"><input class="box" type="checkbox" [checked]="targets.indexOf(8)==-1"  (change)="onCheckboxChange(8,$event)"  name="LoadBalancing" value="LoadBalancing" id="LoadBalancing"><label for="LoadBalancing">LoadBalancing</label></div>
                <div class="icheck-primary pt-1"><input class="box" type="checkbox" [checked]="targets.indexOf(9)==-1"  (change)="onCheckboxChange(9,$event)"  name="PBAC" value="PBAC" id="PBAC"><label for="PBAC">PBAC</label></div>
                <div class="icheck-primary pt-1"><input class="box" type="checkbox" [checked]="targets.indexOf(10)==-1"  (change)="onCheckboxChange(10,$event)"  name="PingEcho" value="PingEcho" id="PingEcho"><label for="PingEcho">PingEcho</label></div>

                <div class="icheck-primary pt-1"><input class="box" type="checkbox" [checked]="targets.indexOf(11)==-1" (change)="onCheckboxChange(11,$event)"   name="Pooling" value="Pooling" id="Pooling"><label for="Pooling">Pooling</label></div>
                <div class="icheck-primary pt-1"><input class="box" type="checkbox" [checked]="targets.indexOf(12)==-1"  (change)="onCheckboxChange(12,$event)"  name="RBAC" value="RBAC" id="RBAC"><label for="RBAC">RBAC</label></div>
                <div class="icheck-primary pt-1"><input class="box" type="checkbox" [checked]="targets.indexOf(13)==-1"  (change)="onCheckboxChange(13,$event)"  name="Scheduler" value="Scheduler" id="Scheduler"><label for="Scheduler">Scheduler</label></div>

                <div class="icheck-primary pt-1"><input class="box" type="checkbox" [checked]="targets.indexOf(14)==-1"  (change)="onCheckboxChange(14,$event)"  name="Session" value="Session" id="Session"><label for="Session">Session</label></div>
                <div class="icheck-primary pt-1"><input class="box" type="checkbox" [checked]="targets.indexOf(15)==-1"  (change)="onCheckboxChange(15,$event)"  name="ValidationInterceptor" value="ValidationInterceptor" id="ValidationInterceptor"><label for="ValidationInterceptor">ValidationInterceptor</label></div>           
             </div>
             <div class="col-sm-10">
                <div class="table-responsive pt-2">
                    <table datatable id="dtResults" [dtOptions]="dtOptions" class="hovertable table-striped table-bordered table-sm" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="th-sm">Id</th>
                                <th class="th-sm">File</th> 
                                <th class="th-sm">ActiveRedundancy</th>
                                <th class="th-sm">Audit</th>
                                <th class="th-sm">Authenticate</th>
                                <th class="th-sm">CheckPoint</th>
                                <th class="th-sm">HeartBeat</th>
                                <th class="th-sm">Kerbrose</th>
                                <th class="th-sm">LoadBalancing</th>
                                <th class="th-sm">PBAC</th>
                                <th class="th-sm">PingEcho</th>
                                <th class="th-sm">Pooling</th>
                                <th class="th-sm">RBAC</th>
                                <th class="th-sm">Scheduler</th>
                                <th class="th-sm">Session</th>
                                <th class="th-sm">ValidationInterceptor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of results;">
                                <td class="th-sm">{{item.Id}}</td>
                                <td class="th-sm">{{item.File}}</td>
                                <td class="th-sm">{{item.ActiveRedundancy}}</td>
                                <td class="th-sm">{{item.Audit}}</td>
                                <td class="th-sm">{{item.Authenticate}}</td>
                                <td class="th-sm">{{item.CheckPoint}}</td>
                                <td class="th-sm">{{item.HeartBeat}}</td>
                                <td class="th-sm">{{item.Kerbrose}}</td>
                                <td class="th-sm">{{item.LoadBalancing}}</td>
                                <td class="th-sm">{{item.PBAC}}</td>
                                <td class="th-sm">{{item.PingEcho}}</td>
                                <td class="th-sm">{{item.Pooling}}</td>
                                <td class="th-sm">{{item.RBAC}}</td>
                                <td class="th-sm">{{item.Scheduler}}</td>
                                <td class="th-sm">{{item.Session}}</td>
                                <td class="th-sm">{{item.ValidationInterceptor}}</td>
                            </tr>
                        </tbody>
                    </table>  
                </div>
             </div>
        </div>

        <div id="chart" class="row  m-0 p-0 border border-width-2">
            <div class="col-xl-12 pt-5">
                <div id="chartContainer"  style="width: 100%; height: 500px; min-width: 100%;"></div>
            </div>
        </div>
</div>
