
<div class="container py-8">
  <div class="card border-dark mb-3">
      <div class="card-header text-center bg-gray-3  py-0" style="font-family:Georgia, 'Times New Roman', Times, serif"> 
          <h4 class="card-title mt-2">Titan Online </h4>
      </div>
      <div class="card-body p-0">
          <div class="row">
              <div class="col-md-3 border-right pr-0">
                  <ul class="list-group list-group-flush">
                      <a routerLink="sdsm" routerLinkActive="active"><li class="list-group-item p-3  min-height-45 d-shape border font-style">SDSM</li></a>
                      <a routerLink="hdsm" routerLinkActive="active"><li class="list-group-item p-3  min-height-45 d-shape border font-style">HDSM</li></a>
                      <a routerLink="bugspace" routerLinkActive="active"><li class="list-group-item p-3  min-height-45 d-shape border font-style">Bug Space</li></a>
                      <a routerLink="rootcover" routerLinkActive="active"><li class="list-group-item p-3  min-height-45 d-shape border font-style">Root Cover</li></a>
                  </ul>
              </div>
              <div class="col-md-9">
                  <router-outlet></router-outlet>
              </div>
          </div>
      </div>
    </div>
</div>

