<div class="container py-8">
    <div class="card bg-light" [hidden]="view!='faqs'">
        <header class="card-header title text-dark  py-1">
            <h5 class="card-tittle d-inline">
                <i class="fa fa-list pr-2"></i> SAIN Frequently Asked Questions
            </h5>
            <button (click)="view='new'" class="btn download float-right pointer font-weight-normal font-size-18">
                    <i class="fa fa-plus fa-lg pr-2"></i>Post Question
            </button>

        </header>
        <article class="card-body m-0 p-0 py-2 bg-white" >
            <table datatable     class="table border-dark border table-bordered  table-striped table-sm w-100 p-0 m-0">
                <thead>
                    <tr>
                        <th class="w-10">#</th>
                        <th>Tittle</th>
                        <th class="w-20">Action</th>
                    </tr>

                </thead>
                <tbody>
                    <tr *ngFor="let item of Faqs;let i=index;">
                        <th class="w-10">{{i+1}}</th>
                        <td >{{item.title}}</td>
                        <td class="w-20">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            
                            </button>
                            <mat-menu #menu="matMenu" >
                                <button mat-menu-item (click)="SelectedFaq=item;view='edit';">
                                  <mat-icon class="fa fa-edit"></mat-icon>
                                  <span>Edit</span>
                                </button>
                                <button mat-menu-item  (click)="SelectedFaq=item;modal.open(template,'modal-md');" >
                                    <mat-icon class="fa fa-trash text-danger"></mat-icon>
                                    <span>Delete</span>
                                </button>
                            </mat-menu>
                        </td>
                    </tr>
                </tbody>
            </table>


        </article>
    </div>
    <div class="card bg-light" *ngIf="view=='new'" >
        <header class="card-header title text-dark  py-1">
            <h5 class="card-tittle d-inline">
                <i class="fa fa-edit fa-lg pr-2"></i> Post New Question
            </h5>

        </header>
        <article class="card-body m-0 p-0  bg-white">
            <app-new-faqs [Faq]="Faq"></app-new-faqs>
        </article>
        <div class="card-footer py-2 bg-light">
            <button (click)="submit();" class="btn  download  pointer font-weight-normal font-size-18">
                <i class="fa fa-upload"></i> Submit
            </button> 
            <button (click)="view='faqs'" class="btn  download float-right pointer font-weight-normal font-size-18">
               <i class="fa fa-undo"></i> Cancel
            </button> 
        </div>
    </div>
    <div class="card bg-light" *ngIf="view=='edit'">
        <header class="card-header title text-dark  py-1">
            <h5 class="card-tittle d-inline">
                <i class="fa fa-edit fa-lg pr-2"></i> Edit Question
            </h5>

        </header>
        <article class="card-body m-0 p-0  bg-white">
            <app-new-faqs [Faq]="SelectedFaq"></app-new-faqs>
        </article>
        <div class="card-footer py-2 bg-light">
            <button (click)="edit();" class="btn  download  pointer font-weight-normal font-size-18">
                <i class="fa fa-save"></i> Save
            </button> 
            <button (click)="view='faqs'" class="btn  download float-right pointer font-weight-normal font-size-18">
               <i class="fa fa-undo"></i> Cancel
            </button> 
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Delete Question</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <p>Do you really want to delete this Question ?</p>
        <button type="button" class="btn btn-primary-dark-w float-left w-40" (click)="modal.hide()">Cancel</button>
        <button type="button" class="btn btn-danger float-right w-40" (click)="delete(SelectedFaq._id)">Delete</button>
    </div>
</ng-template>
