<div class="row p-6 justify-content-center" *ngIf="!results">
    <div class="col-md-12 p-12"  *ngIf="isLoading">
        <div style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>
    </div>
    <div class="col-md-12 p-4" *ngIf="!isLoading">
        <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
            <div class="form-row">  
                <div class="col form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input name="file" type="file" class="custom-file-input" id="files" (change)="onFileSelected($event)" [ngClass]="{'is-invalid': submitted &&  cytoscapePath=='Cyto Scape Path' }">
                            <label class="custom-file-label" for="files">{{cytoscapePath}}</label>
                            <div *ngIf="submitted && cytoscapePath=='Cyto Scape Path'" class="invalid-feedback">
                                <div *ngIf="cytoscapePath=='Cyto Scape Path'">Cyto Scape File Is Required</div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="form-row">
                <div class="col form-group">  
                        <!--The "from" Date Picker -->
                        <label class="form-label">prefix<span class="text-danger">*</span></label>
                        <input placeholder="prefix" type="text" formControlName="prefix" id="date-picker-example" class="form-control datepicker">     
                </div>
                <div class="col form-group">
                        <!--The "to" Date Picker -->
                        <label class="form-label">xprefix<span class="text-danger">*</span></label>
                        <input placeholder="xprefix" type="text" formControlName="xprefix" id="endingDate" class="form-control datepicker">
                        
                </div>
            </div>

            <br>
            <hr>
            <div class="form-group mt-5">
                <button type="submit" class="btn btn-primary-dark-w min-width-200"> Submit </button>
                <button type="button" class="btn btn-primary-dark-w float-right min-width-200"> Cancel </button>
            </div> <!-- form-group// --> 
        </form>
    </div>
</div>
<div class="row py-18 px-0 justify-content-center m-2"  *ngIf="results">
    <div class="col-md-8 bg-gray-3 py-3"> 
        <strong>Success! {{ results }}</strong>
    </div>
    <div class="col-md-4 "> 
        <button type="button" class="btn btn-primary-dark-w float-right min-width-200 min-height-40" (click)="downloadResults()"><i class="fa fa-download" aria-hidden="true"></i> Downlod Results </button>
    </div>
</div>

