<nav class="navbar navbar-expand-lg navbar-light bg-primary min-height-45  py-0">
    <div class="container">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown  min-height-45 d-shape">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-database pr-2"></i><span class="nav-link-local">Datasets</span>
                    </a>
                    <div class="dropdown-menu dropdown-border py-0 my-0" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item dropdown-border-bottom" routerLink="/dataset">Datasets</a>
                      <a class="dropdown-item dropdown-border-bottom" routerLink="/dataset/new">New Dataset</a>
                      <a class="dropdown-item dropdown-border-bottom" href="#">Something else here</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown  min-height-45 d-shape">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-cogs pr-2"></i><span class="nav-link-local">Tools</span>
                    </a>
                    <div class="dropdown-menu dropdown-border py-0 my-0" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item dropdown-border-bottom" routerLink="/tools">Tools</a>
                      <a class="dropdown-item dropdown-border-bottom" routerLink="/tools/add">New Tool</a>
                      
                    </div>
                  </li>
                  <li class="nav-item dropdown  min-height-45 d-shape">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-file-code pr-2"></i><span class="nav-link-local">Resources</span>
                    </a>
                    <div class="dropdown-menu dropdown-border py-0 my-0" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item dropdown-border-bottom" href="#">Action</a>
                      <a class="dropdown-item dropdown-border-bottom" href="#">Another action</a>
                      <a class="dropdown-item dropdown-border-bottom" href="#">Something else here</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown  min-height-45 d-shape border-right-local">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fab fa-researchgate pr-2"></i><span class="nav-link-local">Research</span>
                    </a>
                    <div class="dropdown-menu dropdown-border py-0 my-0" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item dropdown-border-bottom" href="#">Action</a>
                      <a class="dropdown-item dropdown-border-bottom" href="#">Another action</a>
                      <a class="dropdown-item dropdown-border-bottom" href="#">Something else here</a>
                    </div>
                  </li>
            </ul>
    </div>
</nav>