<div class="row mb-10 curser-move">
    <div class="col-md-12">
        <div class="card border border-gray-18">
            <header class="card-header bg-light text-black  py-2">
                <h5 class="card-tittle">
                    Output Field
                    <button class="btn  min-width-50 float-right pointer text-danger py-1 shadow-on-hover-1" [disabled]="builder.Component.Outputs.length==1" (click)="delete(item)"><i class="fa fa-trash fa-lg"></i></button>
                </h5>         
            </header>
            <article class="class-body p-4 pb-6">
                <form #frm="ngForm" (change)="isValid(frm)">
                    <div class="d-flex d-inline-flex justify-content-between w-90">

                        <mat-form-field appearance="outline" class="w-40">
                            <mat-label>Parameter Name</mat-label>
                            <input matInput placeholder="Name"  name="Name" [(ngModel)]="item.Name" required>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-40">
                            <mat-label>Title</mat-label>
                            <input matInput placeholder="Title"  name="Title" [(ngModel)]="item.Title" required>
                        </mat-form-field>
                    </div>
                </form>

            </article>
        </div>
    </div>
</div>