<div class="card border-0">
    <header class="card-header border bg-light  text-black py-2" *ngIf="!isHeaderHidden">
        <h5 class="card-tittle">Basic Information</h5>
    </header>
    <article class="class-body p-4">
        <form #frm="ngForm" (change)="onChange(frm)">
            <div class="row justify-content-center">
                <div class="col-md-8 mb-4">
                    <mat-form-field appearance="outline" class="w-50">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Name" name="Name" [(ngModel)]="Input.name" required />
                    </mat-form-field>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Description</mat-label>
                        <textarea matInput placeholder="Description" name="description" [(ngModel)]="Input.description"
                            rows="5" required></textarea>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </article>
</div>