<div class="bg-light">
    <div class="container">
        <div  class="contents py-3 bg-light ">
            <div  *ngIf="Article">
                <div class="d-flex d-inline-flex w-100 justify-content-between mb-1">
                    <app-breadcrumb [items]="['SAIN','Tutorials',title]" class="mb-2" ></app-breadcrumb>
                    <div class="float-right font-size-17 mt-2">
                       <span class="text-info pl-2">@ {{Article.author}}</span>
                    </div>
                </div>

            </div>
            <div class="contents-details border border-width-2">
                <div class="py-4 px-4 min-height-300">
                    <div #el class="py-4 ck-editor5"></div>
                </div>
            </div>
        </div>
    </div>
</div>
