<div class="container py-8">
  <div class="row justify-content-center ">
    <div class="col-md-6">
      <article class="card-body p-10" style="text-align: center;" *ngIf="isLoading">
        <div class="fa-4x">
            <i class="fas fa-spinner fa-pulse text-primary"></i>
        </div>
    </article>

      <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="error">
        <p><strong>Error!</strong> {{error}} </p>
      </div>
      <div class="alert alert-warning alert-dismissible fade show px-4" role="alert" *ngIf="unverifiedError">
        <p >
          Your Email has not been verified. A verification email has been sent to <span class="text-primary">{{this.loginForm.get('email').value}}</span>. 
            It will be expire after one day. If you did not get it click  
            <a (click)="resendConfirmationEmil();" class="text-blue pointer">here </a> to resend a veification email.
        </p>
      </div>
      <div class="border px-4 pt-4 mb-4" role="alert" *ngIf="ConfirmationSuccess">
        <p >
            <i class="fa fa-check fa-2x text-primary pr-2"></i>A verification email has been sent to <span class="text-primary">{{this.loginForm.get('email').value}}</span>. 
            It will be expire after one day. If you did not get it click  
            <a (click)="resendConfirmationEmil();" class="text-blue pointer">here </a> to resend a veification email.
        </p>
      </div>
      <div  class="alert alert-warning alert-dismissible fade show px-4" role="alert" *ngIf="ConfirmationError">
        <p >
            <strong>Error!</strong>{{ConfirmationError}}. Make sure that your username and password are correct and  click  
            <a (click)="resendConfirmationEmil();" class="text-blue pointer">here </a> to resend a veification email. If you forgot your password click 
            <a class="text-blue" routerLink="/resetpassword">here</a> to reset your password.
        </p>
      </div>

      <div *ngIf="!isLoading" class="card">
        <header class="card-header">
          <h4 class="card-title mt-2"><i class="fa fa-fw fa-user"></i> Sign In</h4>
        </header>
        <article class="card-body" >
          <form [formGroup]="loginForm" (ngSubmit)="login()" >
            <div class="form-row">
              <div class="col form-group js-form-message mb-4">
                <label class="form-label">Email <span class="text-danger">*</span></label>
                <input type="text" formControlName="email" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
              </div> <!-- form-group end.// -->
              <div class="col form-group">
                <label class="form-label">Password<span class="text-danger">*</span></label>
                <input type="password" formControlName="password" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                  <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
              </div> <!-- form-group end.// -->
            </div> <!-- form-row end.// -->

            <div class="form-group">
              <button type="submit" class="btn btn-primary-dark-w btn-block"> Log In </button>
            </div> <!-- form-group// -->
          </form>
          <div class="login px-1">
            <p class="text-blue"><a routerLink="/resetpassword">Forgot Password ?</a></p>
            <p class="text-blue"><a routerLink="/register">Sign Up</a></p>
          </div>
        </article> <!-- card-body end .// -->

      </div> <!-- card.// -->
    </div> <!-- col.//-->

  </div> <!-- row.//-->
</div>