<div class="container py-8" >
    <div class="row justify-content-center ">
        <div class="col-md-6">
            <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="error">
                <p><strong>Error!</strong> {{ error }}</p>
            </div>
            <div  class="card">
                <header class="card-header">
                  <h4 class="card-title mt-2"><i class="fa fa-fw fa-user"></i> New Password</h4>
                </header>
                <article class="card-body" *ngIf="!isLoading">
                    <form [formGroup]="loginForm" (ngSubmit)="changePassword()" *ngIf="!success" >
                        <div class="form-row">
                            <div class="col form-group">
                                <label class="form-label">New Password<span class="text-danger">*</span></label>
                                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                                </div>
                            </div> <!-- form-group end.// -->
                            <div class="col form-group">
                                <label class="form-label">Confirm New Password<span class="text-danger">*</span></label>
                                <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                                </div>
                            </div> <!-- form-group end.// -->
                        </div> <!-- form-row end.// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary-dark-w btn-block"> Reset  </button>
                        </div> <!-- form-group// -->  
                    </form>
                    <div class="font-size-18 login mt-5" *ngIf="success">
                        <p class="text-center"> <i class="fa fa-check-circle fa-lg text-primary pr-1"> </i> Your password has been changed succefully! .you will be redirected to 
                            <a class="text-blue" routerLink="/login">
                                Login Page 
                            </a>
                             in {{RoutingTime}} Seconds.
                        </p> 
                     </div>
                </article>
                <article class="card-body p-10" style="text-align: center;" *ngIf="isLoading">
                    <div class="fa-4x">
                        <i class="fas fa-spinner fa-pulse text-primary"></i>
                    </div>

                </article>
            </div>
        </div>
    </div>

</div>