<div class="container py-8" >
    <div class="row justify-content-center ">
        <div class="col-md-6">
            <article class="card-body p-10" style="text-align: center;" *ngIf="isLoading">
                <div class="fa-4x">
                    <i class="fas fa-spinner fa-pulse text-primary"></i>
                </div>
            </article>
            <div class="font-size-18 login mb-4 border pt-3 px-4 border" *ngIf="success">
                <p > <i class="fa fa-check fa-2x text-primary pr-1"> </i> Reset Password Email has been sent suuccessfully to email  <span class="text-primary">{{loginForm.get('email').value}}</span> . If you did not get it click 
                    <a class="text-blue pointer" (click)="reset();">
                        here 
                    </a> to resend password reset link.      
                </p> 
            </div>
            <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="error">
                <p><strong>Error!</strong> {{ error }}</p>
            </div>
            <div  class="card" *ngIf="!isLoading">
                <header class="card-header">
                  <h4 class="card-title mt-2"><i class="fa fa-fw fa-user"></i> Reset Password</h4>
                </header>
                <article class="card-body" >
                    <form [formGroup]="loginForm" (ngSubmit)="reset()"  class="w-75 mx-auto">
                        <div class="form-row">
                            <div class="col form-group js-form-message mb-4">
                                <label class="form-label">Email <span class="text-danger">*</span></label> 
                                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                </div> 
                              </div> <!-- form-group end.// -->
                        </div>
                        <div class="form-group my-2">
                            <button type="submit" class="btn btn-primary-dark-w btn-block"> Reset  </button>
                        </div> <!-- form-group// -->  
                    </form>
                </article>
            </div>
        </div>
    </div>

</div>
