.btn{
    border-radius: 2px;
    height:30px;
    padding: 1px 10px;
    margin: 0px;

}
table tbody tr td:last-of-type{
    width:20%;
}
table tbody tr td:first-of-type,table thead tr th:first-of-type{
    width:10%;
    font-size:16px;
    font-weight:2000;
    padding-left: 10px;
    line-height: 40px;
}
