<!-- ========== FOOTER ========== -->
<footer class="border-top border-width-2">
    <!-- Footer-newsletter -->

    <!-- End Footer-newsletter -->
    <!-- Footer-bottom-widgets -->
    <div class="pt-8 pb-4 bg-gray-13">
        <div class="container mt-1">
            <div class="row">
                <div class="col-lg-5">
                    <div class="my-4 my-md-4">
                        <ul class="list-inline mb-0 opacity-7">
                            <li class="list-inline-item mr-0">
                                <a class="btn font-size-20 btn-icon btn-soft-dark btn-bg-transparent rounded-circle"  >
                                    <span class="fab fa-facebook-f btn-icon__inner"></span>
                                </a>
                            </li>
                            <li class="list-inline-item mr-0">
                                <a class="btn font-size-20 btn-icon btn-soft-dark btn-bg-transparent rounded-circle"  >
                                    <span class="fab fa-google btn-icon__inner"></span>
                                </a>
                            </li>
                            <li class="list-inline-item mr-0">
                                <a class="btn font-size-20 btn-icon btn-soft-dark btn-bg-transparent rounded-circle"  >
                                    <span class="fab fa-twitter btn-icon__inner"></span>
                                </a>
                            </li>
                            <li class="list-inline-item mr-0">
                                <a class="btn font-size-20 btn-icon btn-soft-dark btn-bg-transparent rounded-circle"  >
                                    <span class="fab fa-github btn-icon__inner"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-12 col-md mb-4 mb-md-0">
                            <h6 class="mb-3 font-weight-bold">Find Links</h6>
                            <!-- List Group -->
                            <ul class="list-group list-group-flush list-group-borderless mb-0 list-group-transparent">
                                <li><a class="list-group-item list-group-item-action"  >Datasets</a></li>
                                <li><a class="list-group-item list-group-item-action"  >Tools</a></li>
                                <li><a class="list-group-item list-group-item-action"  >Resources</a></li>
                                <li><a class="list-group-item list-group-item-action"  >Research</a></li>
                                <li><a class="list-group-item list-group-item-action"  >Sain Team</a></li>
                            </ul>
                            <!-- End List Group -->
                        </div>

                        <div class="col-12 col-md mb-4 mb-md-0">
                            <!-- List Group -->
                            <ul class="list-group list-group-flush list-group-borderless mb-0 list-group-transparent mt-md-6">
                                <li><a class="list-group-item list-group-item-action"  >Partners</a></li>
                                <li><a class="list-group-item list-group-item-action"  >Contributors</a></li>
                                <li><a class="list-group-item list-group-item-action"  >Sponsors</a></li>
                                <li><a class="list-group-item list-group-item-action"  >Universities</a></li>
                                
                            </ul>
                            <!-- End List Group -->
                        </div>

                        <div class="col-12 col-md mb-4 mb-md-0">
                            <h6 class="mb-3 font-weight-bold">User Links</h6>
                            <!-- List Group -->
                            <ul class="list-group list-group-flush list-group-borderless mb-0 list-group-transparent">
                                <li><a class="list-group-item list-group-item-action"  >My Account</a></li>
                                <li><a class="list-group-item list-group-item-action"  >My Tools</a></li>
                                <li><a class="list-group-item list-group-item-action"  >Articles and Blogs</a></li>
                                <li><a class="list-group-item list-group-item-action" routerLink="/faqs">FAQs</a></li>
                            </ul>
                            <!-- End List Group -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer-bottom-widgets -->
    <!-- Footer-copy-right -->
    <div class="bg-gray-14 py-2">
        <div class="container">
            <div class="flex-center-between d-block d-md-flex">
                <div class="mb-3 mb-md-0">© <a   class="font-weight-bold text-gray-90">Sain</a> - All rights Reserved</div>
            </div>
        </div>
    </div>
    <!-- End Footer-copy-right -->
</footer>
