<div id="app" class="container-12 px-2">
  <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <a class="navbar-brand" href="#"><img src="assets/img/logo.png" class="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarNavDropdown" class="navbar-collapse collapse">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link nav-link-local pl-2" routerLink="/aboutsain">About SAIN </a>
              </li>
              <li class="nav-item ">
                  <a class="nav-link nav-link-local pl-2" routerLink="/tutorials">Getting Started</a>
              </li>
          </ul>
          <div class="col-sm-5 pl-0 d-none d-xl-block">
           <form class="js-focus-state">
                <label class="sr-only" for="searchproduct">Search</label>
                <div class="input-group">
                    <input disabled type="email" class="form-control py-2 pl-3 font-size-15 border-right-0 height-40 border-width-2 rounded-left-pill border-primary" name="email" id="searchproduct-item" placeholder="Search in Sain " aria-label="Search for products" aria-describedby="searchProduct1" required>
                    <div class="input-group-append">
                        <button  class="btn btn-primary height-40 py-2 px-3 rounded-right-pill" type="button" id="searchProduct1">
                            <span class="ec ec-search font-size-24"></span>
                        </button>
                    </div>
                </div>
            </form>
          
          </div>
        
        <ul class="nav navbar-nav navbar-right">
          
          <li class="nav-item" *ngIf="!auth.isLoggedIn()">
            <a class="nav-link nav-link-local " routerLink="/register"><i class="fa fa-fw fa-user"></i>Register</a>
          </li>
          <li class="nav-item" *ngIf="!auth.isLoggedIn()">
            <a class="nav-link nav-link-local " routerLink="/login">Sign In</a>
          </li>
          <li class="nav-item" *ngIf="auth.isAdmin()">
            <a class="nav-link nav-link-local " routerLink="/admin"><i class="fa fa-fw fa-qrcode"></i>Admin Panel</a>
          </li>
          <li class="nav-item" *ngIf="auth.isLoggedIn()">
            <a class="nav-link nav-link-local " routerLink="/profile"><i class="fa fa-fw fa-user"></i>{{ auth.getUserDetails()?.firstname }}</a>
          </li>
          <li class="nav-item" *ngIf="auth.isLoggedIn()">
            <a class="nav-link nav-link-local " routerLink="" (click)="auth.logout()">log out</a>
          </li>
        </ul>
      </div>
  </nav>
</div>